<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>  {% block title %}  {% endblock %} </title> 
    {% block css %}  {% endblock %}
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>

</head>
<body>
	<!-- Navbar -->
    <nav>
        <ul class="menu">
            <li class="logo"><a href="/finance/">Sparks Finance</a></li>
            <li class="item"><a href="/finance/">Home</a></li>
            <li class="item"><a href="/finance/users">Users</a></li>
            <li class="item"><a href="/finance/createUser">CreateUser</a></li>
            </li>
            <li class="item button"><a href="/finance/transferMoney">Transfer Money</a></li>
            <li class="item button secondary"><a href="/finance/transferHistory">Transfer History</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>

    {% block body %}  {% endblock %}



    <!-- Footer -->
<div class="footer-container">
	<div class="footer">
		<div class="footer-heading footer-1">
			<h2>About Us</h2>
			<a href="#">Blog</a>
			<a href="#">Demo</a>
			<a href="#">&copy; KunalCreations</a>
			<a href="#">Terms of Service</a>
		</div>
		<div class="footer-heading footer-2">
			<h2>Social Media</h2>
			<a href="#">Sparks Foundation</a>
			<a href="#">LinkedIn</a>
			<a href="#">Investors</a>
			<a href="#">Terms of Service</a>
		</div>
	</div>
</div>
  
<!-- Scripts -->
    <script type="text/javascript">
         //javaScript for navbar
            $(function() {
                $(".toggle").on("click", function() {
                    if ($(".item").hasClass("active")) {
                        $(".item").removeClass("active");
                    } else {
                        $(".item").addClass("active");
                    }
                });
            });
    </script>
</body>
</html>