{% extends 'finance/basic.html' %}
 {% block title %} Create User {% endblock %}
 {% load static %}
    {% block css %} <link rel="stylesheet" href="{% static 'finance/createUser.css' %}"> {% endblock %}
{% block body %}  
    <!-- Form -->
    <div class="form-container">
	    <div class="container">
	    <div class="title">Create User</div>
	    <div class="content">
	      <form action="/finance/createUser/" method="post">{% csrf_token %}
	        <div class="user-details">
	          <div class="input-box">
	            <span class="details">Name</span>
	            <input type="text" placeholder="Enter your name"  id="name" name="name" required>
	          </div>
	          <div class="input-box">
	            <span class="details">Branch Name</span>
	            <input type="text" placeholder="Enter your Branch Name" id="branch" name="branch" required>
	          </div>
	          <div class="input-box">
	            <span class="details">Email</span>
	            <input type="text" placeholder="Enter your email" id="email" name="email" required>
	          </div>
	          <div class="input-box">
	            <span class="details">Account No</span>
	            <input type="text" placeholder="Enter your Account No" id="account" name="account" required>
	          </div>
	          <div class="input-box">
	            <span class="details">Current Balance</span>
	            <input type="text" placeholder="Enter your Balance" id="balance" name="balance" required>
	          </div>
	   
	        </div>
	        <div class="gender-details">
	          <input type="radio" name="gender" id="dot-1">
	          <input type="radio" name="gender" id="dot-2">
	          <input type="radio" name="gender" id="dot-3">
	          <span class="gender-title">Gender</span>
	          <div class="category">
	            <label for="dot-1">
	            <span class="dot one"></span>
	            <span class="gender">Male</span>
	          </label>
	          <label for="dot-2">
	            <span class="dot two"></span>
	            <span class="gender">Female</span>
	          </label>
	          <label for="dot-3">
	            <span class="dot three"></span>
	            <span class="gender">Prefer not to say</span>
	            </label>
	          </div>
	        </div>
	        <div class="button">
	          <input type="submit" value="Create User">
	        </div>
	      </form>
	    </div>
	  </div>
  </div>
	{% endblock %}