{% extends 'finance/basic.html'  %}

{% block title %}Transfer Money {% endblock title %}  
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'finance/transferMoney.css' %}"> {% endblock %}

{% block body %} 

<div class="form-container">
	    <div class="container">
	    <div class="title">Transfer Money</div>
	    <div class="content">
	      <form action="/finance/transferMoney" method="post">{% csrf_token %}
	        <div class="user-details">
	          <div class="input-box">
	            <span class="details">Name</span>
				<label for="name"></label>
	            	<!--<input type="text" placeholder="Enter your name" id="name" name="name" required>-->
					<select id="name" name="name">
	          		<option value="Holder Name">Select Sender</option>
					  {% for i in users %}
	          		<option value="{{i.name}}">{{i.name}}</option>
					  {% endfor %}
					  </select>
	          </div>
	          <div class="input-box">
	            <span class="details">Receiver Name</span>
	            <label for="receiver"></label>
	            <select id="receiver" name="receiver">
	          		<option value="Receiver">Select Receiver</option>
					  {% for i in users %}
	          		<option value="{{i.name}}">{{i.name}}</option>
					  {% endfor %}
	          	</select>
	          </div>
	          <div class="input-box">
	            <span class="details">Amount to transfer</span>
	            <input type="text" placeholder="Enter your Account No" id="amount" name="amount" required>
	          </div>
	        </div>
	        <span class="details">Confirm Transfer</span>
	        <input type="checkbox" name="check">
	        <div class="button">
	          <input type="submit" value="Transfer">
	        </div>
	      </form>
	    </div>
	  </div>
  </div>

{% endblock %}